.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 150px;
}

.navbar-Menu {
    display: flex;
    list-style: none;
    gap: 20px;
    color:  #263e79;
    font-size: 18px;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button {
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #fc8019;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #263e79;
    color: white;
}

.navbar .active {
    padding-bottom: 2px;
    border-bottom: 2px solid #263e79;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
}

.navbar-search-icon .dot {
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #fc8019;
    border-radius: 5px;
    top: -8px;
    right: -8px;   
}

@media (max-width:1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-Menu {
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right {
        gap: 30px;
    }
    .navbar-right img {
        width: 22px;
    }
    .navbar-right button {
        padding: 8px 25px;
    }
}

@media (max-width:900px) {
    .navbar .logo{
        width: 120;
    }
    .navbar-Menu {
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right {
        gap: 20;
    }
    .navbar-right img {
        width: 20;
    }
    .navbar-right button {
        padding: 7px 20px;
        font-size: 15px;
    }
}

.navbar-profile {
    position: relative;
}
.nav-profile-dropdown {
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
}

.navbar-profile:hover .nav-profile-dropdown {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #fc8019;
    outline: 2px solid white;
    list-style: none;
}

.navbar-profile:hover .nav-profile-dropdown,
.nav-profile-dropdown:hover {
    display: flex;
    opacity: 1;
}

.nav-profile-dropdown li {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav-profile-dropdown img {
    width: 20px;
}

.nav-profile-dropdown li:hover {
    color: #fc8019;
}

@media (max-width:750px) {
    .navbar-Menu {
        display: none;
    }
}